<div data-sly-test.edit="${!properties.buttonText && wcmmode.edit}" class="cq-placeholder" data-emptyText="Please configure the Access Form Component"></div>
    <div>
        <form class="access-form" id="accessForm" action="/bin/mercer/automation/tools/access/request" method="GET">
            <div class="grid-container">
                <div class="grid-x grid-padding-x form-description-wrapper">
                    <div class="cell large-12">
                        <h2 name="user">Hello ${currentSession.userID}</h2>
                    </div>
                    <div class="cell large-12">
                        <h2 data-sly-test="${properties.description}" class="login-title">${properties.description
                        @ context='html'}</h2>
                    </div>
					<div class="cell medium-6 large-5">
					<label>Op Co Name</label>
					<select name="opCoName" >
                    <option value="mercer">mercer</option>
                    </select>		
					</div>
                    <div class="cell medium-6 large-5" data-sly-use.object="com.mercer.automation.tools.core.models.UserGroupModel">
						<label>Group to Assign</label>
                        <select multiple name="groupList"  data-sly-list.list="${object.groups}">
                        <option value="${list}">${list}</option>
                        </select>		
                    </div>        
                    <div class="medium-12 cell">
                        <button class="button" type="submit" value="Submit">${properties.buttonText}</button>
                    </div>
                </div>
            </div>
        </form>
</div>
